img{
    height: 200px;
    padding: 5px;
    margin: 5px;
}

li{
 list-style: none;
 display: inline;
 height: 200px;
}

/* @media (max-width: 600px) {
    img {
        width: 100%;
        height: auto; /* Adjust height proportionally */
        padding: 5px;
        margin-bottom: 15px;
    }

    li {
        display: block;
        width: 100%;
    }
} */